DB_HOST=postgres
DB_PORT=5432
DB_NAME=library
DB_USER=postgres
DB_PASSWORD=postgres

POSTGRES_DB=library
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

NEXT_PUBLIC_API_BASE=http://localhost:8000/api
